.env
/venv
venv
./__pycache__
/order_files
./order_files
db.sqlite3
db.sqlite3.backup*
*.backup
media
__pycache__
*.pyc
*.pyo
staticfiles
/staticfiles
/logs
logs
backups
*.log
*.tmp
*.bak
*.old
*.orig
.DS_Store
Thumbs.db
